@import 'variables';

body {
  padding: 0;
  margin: 0;
  background-color: $background-color;
  font-family: Roboto, sans-serif;
  color: $white-text;
}

@font-face {
  font-family: HeliosC;
  src: url('../../assets/fonts/helios.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
