@import 'variables';

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $background-color;
  font-family: HeliosC, sans-serif;
  color: $white-text;
}

@font-face {
  font-family: HeliosC;
  src: url('../../assets/fonts/helios.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.container {
  margin: 0 auto;
  max-width: 1792px;
  margin-bottom: 100px;
}
