@import 'variables';

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &:nth-child(odd) {
      .card:nth-child(odd) {
        visibility: hidden;
      }
    }

    &:nth-child(even) {
      .card:nth-child(even) {
        visibility: hidden;
      }
    }
  }
}
