@import 'variables';

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 10px;

  .card:nth-child(odd) {
    grid-column: 1;
  }

  .card:nth-child(even) {
    grid-column: 2;
  }
}
