@media (width <=420px) {
  header {
    .title {
      font-size: 28px;
    }

    .desktop-br {
      display: none;
    }

    .mobile-br {
      display: block;
    }

    .subtitle {
      font-size: 16px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .container {
    margin: 0 auto;
    max-width: 355px;
    margin-bottom: 45px;
  }

  .cards {
    .row {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .card {
        visibility: visible;
        max-width: 100%;
      }

      &:nth-child(odd) {
        .card:nth-child(odd) {
          display: none;
        }
      }

      &:nth-child(even) {
        .card:nth-child(even) {
          display: none;
        }
      }
    }
  }
}
