@media (width <=768px) {
  header {
    .title {
      font-size: 28px;
    }

    .mobile-br {
      display: none;
    }

    .desktop-br {
      display: block;
    }

    .subtitle {
      font-size: 16px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .container {
    margin: 0 auto;
    max-width: 728px;
    margin-bottom: 70px;

    .card {
      padding: 8px;
      height: 174px;
      max-width: 234px;

      .card-text {
        font-size: 14px;
      }

      .arrow-btn {
        height: 20px;
        width: 20px;
      }
    }
  }
}
